.para
{

    border: 1px solid black;
    padding: 10px;
    width: 200px;
    height:200px;
    text-align: justify;
}
.a
{
    text-align: right;
}
.b
{
    text-align: center;
}
.c
{
    text-align: justify;
}
.a:link,a:visited{
    background-color: aqua;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block
}